:root {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #dde1e6;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {  
  --green: rgb(42, 252, 152);
  --blue: rgb(41, 121, 255);
}

body {
  height: 100vh;
  background-color: white;
  margin: 0 0rem;
  overflow: hidden;
  display: grid;
  place-items: left;
}

.line {
  /* display: flex;
  justify-content: space-between; */
  overflow-wrap: break-word;
}

.word {
  color: black;
  font-size: 1.2rem; 
  font-family: "Helvetica", sans-serif;
  margin: 1rem;
  /* text-transform: uppercase; */
  transition: opacity 250ms ease;
}

a {
  text-decoration: none;
}
